<footer>
    <div class="foot-top">
        <div class="foot-left">
            <h2>MELVIN ARELLANO</h2>
            <p>BPITECHVOC - BACK -END 101</p>
        </div>
        <div class="foot-right">
            <h3>MAP</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Creds</a></li>
                <li><a href="#">Facebook</a></li>
            </ul>
        </div>
    </div>
    <div class="foot-bot">
        <div class="link">
            <a href="https://www.facebook.com/mlvnrlln"><img src="/src/img/fb.png" alt="fb" srcset=""></a>
            <a href="https://www.instagram.com/mlvnrlln/?hl=en"><img src="/src/img/ig.png" alt="" srcset=""></a>
            <a href="https://github.com/Boreumdal"><img src="/src/img/gh.png" alt="" srcset=""></a>
        </div>
        <div class="cp">
            <p>MLV 2022. All Rights Reserved.</p>
        </div>
    </div>
</footer>