<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header-normal.ejs') %>
    <title>Error</title>
</head>
<body>
    <nav>
        <div class="header-text">
            <h1>mlvn.go</h1>
        </div>
        <div class="header-icon">
            <i class="fa-solid fa-code"></i>
        </div>
        <div class="header-nav">
            <ul>
                <li><a class="btn sky" href="/">Home</a></li>
            </ul>
        </div>
    </nav>
     
    <main class="error-container">
        <div class="error">
            <h1>Error</h1>
            <p>An error occured.</p>
            <a href="/">Return home</a>
        </div>
    </main>

    <%- include('partials/footer.ejs') %> 
</body>
</html>